{{!--
  TODO: Replace with custom icons (svg based?).
  Make sure to futureproof in such a way that it can account for icons uploaded by the user.
  The custom icons will probably be stored in the API filesystem, but we could also base64 the SVG and put it in the DB
--}}
<div class="oct-category-row__category">
  <MdIcon @icon={{@category.icon}} class="oct-category-row__category-icon"/>
  <p class="oct-category-row__category-name">{{@category.name}}</p>
</div>