@import '../utils'

.oct-emergency-delete
  &__wrapper
    margin-top: auto
    margin-bottom: 2em

  &__button
    @include oct-centerflex
    color: #FFFFFF
    border: none
    text-transform: uppercase
    padding: 1em 2em
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 14px
    border-radius: 5px
    user-select: none

  &__info
    margin-top: .6em
    max-width: 32ch
    text-align: center
