.oct-field
  display: flex
  flex-flow: row nowrap
  gap: 1em
  justify-content: center
  align-items: center
  padding: 4px

  input
    padding: 4px 8px
    border-radius: 4px
    border: 1px solid rgba(0, 0, 0, 0.33)
