.oct-info-row
  display: flex
  flex-flow: row wrap
  width: 100%
  margin: 0
  padding: 1.5em
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid #ebebeb

  &__label
    font-size: 13pt

  &__input
    margin-right: .5em
    padding: 0.6em
    border: 1px solid #ccc
    border-radius: 0.25em
    font-size: 1em
    line-height: 1.5em
    color: #555
    background-color: #fff
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
    width: 8ch
    border: 1px solid #ebebeb

    &:focus
      outline: none
      border: 1px solid #ccc

  &__unit
    font-size: 10pt
    color: #808080
    min-width: 4ch

