nav.oct-nav-bar {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100vw;
  padding: 8px;
  background: #FFF;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.15);
}

nav.oct-nav-bar a {
  text-decoration: none;
}

nav.oct-nav-bar.desktop {
  left: 0;
  height: 100vh;
  width: unset;
  flex-flow: column nowrap;
  justify-content: flex-start;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.15);
}

nav.oct-nav-bar.desktop > * {
  padding: 6px;
}

nav.oct-nav-bar.desktop > .oct-nav-bar__priority {
  order: -1;
}
