header.oct-top-bar
  width: 100dvw
  height: 80px
  background: #8A7EBE
  color: #FFFFFF
  font-family: 'Open Sans SemiBold', sans-serif
  font-size: 20px
  line-height: 27px
  display: flex
  align-items: flex-end
  justify-content: center
  text-align: center
  padding: 0.5em
  position: relative
  top: 0

  &.desktop
    width: auto
    padding: 1em
    padding-left: 105px
    border-radius: 0 0 8px 0
    align-items: center

