<nav class="oct-nav-bar {{if this.responsive.isDesktop "desktop"}}">
  <LinkTo @route="tracking">
    <OctMdIcon @icon="pencil-outline" @size="50">Tracking</OctMdIcon>
  </LinkTo>
  <LinkTo @route="calendar">
    <OctMdIcon @icon="calendar-month" @size="50">Calendar</OctMdIcon>
  </LinkTo>
  <LinkTo @route="cycle.current" class="oct-nav-bar__priority">
    <OctMdIcon @icon="reload" @size="60" @heavy={{true}}>Cycle</OctMdIcon>
  </LinkTo>
  <LinkTo @route="info">
    <OctMdIcon @icon="account-outline" @size="50">My Info</OctMdIcon>
  </LinkTo>
  <LinkTo @route="settings">
    <OctMdIcon @icon="cog-outline" @size="50">Settings</OctMdIcon>
  </LinkTo>
</nav>