{
  "extends": [
    "@fdebijl",
    "plugin:ember/recommended"
  ],
  "plugins": [
    "ember"
  ],
  "env": {
    "browser": true
  },
  "overrides": [
    {
      "files": ["tests/**/*-test.{js,ts}"],
      "extends": ["plugin:qunit/recommended"]
    }
  ]
}
