{{page-title "My Info"}}

<TopBar>My Info</TopBar>

<div class="oct-sub-page oct-sub-page__top-align">
  {{!-- TODO(fdebijl): Copy change, reset buttons, extra fields, add class for P-tags that host explanational text --}}
  <p>
    Your info page shows you the average duration of your cycles, periods, and PMS. This information is based on the data you've entered in the app.
    You can override any of these values by entering a new value in the input field, this will update the average value for future cycles.
    <br><br>
    Some additional stats are not automatically calculated, you can fill these in yourself for a more complete overview and better cycle predictions.
  </p>

  <ul class="oct-info-list">
    <InfoRow @label="Average Cycle Duration" @type="number" @value={{get this.info "average_cycle_duration"}} @setValue={{fn this.setInfo "average_cycle_duration"}} @unit="days"></InfoRow>
    <InfoRow @label="Average Period Duration" @type="number" @value="4" @setValue="" @unit="days"></InfoRow>
    <InfoRow @label="Average PMS Duration" @type="number" @value="3" @setValue="" @unit="days"></InfoRow>
  </ul>

  <h2>Your Past Cycles</h2>
  {{!-- TODO(fdebijl): Show past cycles, create new component for CycleRow --}}
</div>