{{page-title "My Info"}}

<TopBar>My Info</TopBar>

<div class="oct-sub-page oct-sub-page__top-align">
  <ul class="oct-info-list">
    <InfoRow @label="Average Cycle Duration" @type="number" @value="28" @setValue="" @unit="days"></InfoRow>
    <InfoRow @label="Average Period Duration" @type="number" @value="4" @setValue="" @unit="days"></InfoRow>
    <InfoRow @label="Average PMS Duration" @type="number" @value="3" @setValue="" @unit="days"></InfoRow>
  </ul>
</div>