{{page-title "Settings"}}

<TopBar>Settings</TopBar>

<div class="oct-sub-page oct-sub-page__top-align">
  <h3 class="oct-settings__header">System</h3>
  <LinkTo @route="settings" class="oct-settings__item">Account</LinkTo>
  <LinkTo @route="settings" class="oct-settings__item">Notifications</LinkTo>
  <LinkTo @route="settings" class="oct-settings__item">Server</LinkTo>
  <LinkTo @route="settings" class="oct-settings__item">Share Cycle</LinkTo>
  <LinkTo @route="settings" class="oct-settings__item">Passcode</LinkTo>

  <h3 class="oct-settings__header">Customize</h3>
  {{!-- SettingRow - Hide/Show Factor --}}
  {{!-- SettingRow - Hide/Show Cycle Phases --}}
  {{!-- SettingRow - Hide/Show Predictions --}}

  <EmergencyDelete/>
</div>